     
$layout-width-inner: 1366;

$breakpoints: (
    "sp": "screen and (max-width: 767px)",
    "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
    "pc": "screen and (min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {

    @media #{map-get($breakpoints, $breakpoint)} {
  
      @content;
    }
}

body{
    margin: 0;

    & .inner {
        //width: 980px;
        width: 1366px;
        //min-width: 100%;
        margin: 0 auto;
        
        background: transparent url('/img/mainvisual.png') 0% 0% no-repeat padding-box;
        height: 700px;

        text-align:center;
        
        // 以下のincludeでレスポンシブ、tab, sp、どちらもほぼほぼできたような感じ。超便利。
        @include mq('tab'){
            width: 100%;
        }

        & .logo{
            /* 以下の二つで、子要素を中央寄せ */
            display:flex;
            justify-content: center;
            align-items: center;
    
            height: 80px;
            background: #3F51B5 0% 0% no-repeat padding-box;
    
        }

        & .nav{
            background: white 0% 0% no-repeat padding-box;
            height: 58px;
            width: 100%;
            border: 1px solid white;

            // 以下2つで、縦方向へ中央寄せ
            display:flex;
            justify-content: center;
            //margin: 0 140px;

            & ul{
                //display:flexだけで、子要素のliが横並びになる。
                display:flex;

                justify-content: center;
                padding: 0;
                width: 100%;
                //margin: 0;
                margin: 0 140px;

                & li{
                    background-color: #3F51B5 ;
                    height: 100%;
                    list-style: none;
                    color:white;
                    width: 217px;
                    font-family: Yu Gothic;
                    font-size: 16px;
                    border-right: 1px solid white;
                    margin:0;

                    display:flex;
                    justify-content: center;
                    align-items:center;
                }
            }
            
        }

        & h2{
            // position: absoluteでtext-alignがオフセットされる。
            //　それでも、左右中央に寄せるには、position:absolute, left: 50%で、transformで50%、幅を戻す、ということをすれば良い。
            
            //position: absolute;
            //left:50%;
            //transform: translate(-50%);
            //top: 249px;

            margin-top: 110px;
            margin-bottom: 0;

            font-size: 68px;
            font-family: Yu Gothic;
            color: #333333;
            opacity: 1;

            @include mq('sp'){
                font-size: 40px;
            }

            @include mq('sp'){
                font-size: 35px;
            }

        }

        & h4{
            margin-top: 12px;
            margin-bottom: 0;

            //position: absolute;
            //left:50%;
            //transform: translate(-50%);
            //top: 348px;
            
            font-size: 38px;
            font-family: Yu Gothic;
            color: #333333;
            opacity: 1;

            @include mq('sp'){
                font-size: 30px;
            }

            @include mq('sp'){
                font-size: 26px;
            }
        }

        & input{

            margin-top: 82px;

            //position: absolute;
            //left:50%;
            //transform: translate(-50%);
            //top: 479px;
            
            font-size: 38px;
            font-family: Yu Gothic;
            color: white;
            opacity: 1;

            width: 390px;
            height: 83px;

            background: #3F51B5 0% 0% no-repeat padding-box;

            box-shadow: 0px 3px 6px #000029;
            border-radius: 12px;

            border: 0;

            @include mq('sp'){
                font-size: 30px;
                height: 70px;
            }

            @include mq('sp'){
                font-size: 26px;
                height: 50px;
            }
        }
      
    }
}
